.DS_Store
.jpg
.jpeg
.gif
.nvmrc
.php-cs-fixer.php
.png
.tm_properties
composer.json
composer.lock
data
phpdoc-templates
.settings
.project
tmp
todos.txt
readme.txt
-default.php
.log
.phpdoc
phpdoc.xml