<p style="width: 100% !important;"><a href="https://developers.shipcloud.io/" alt="shipcloud.io - Developer Portal" target="_blank"><img src="https://developers.shipcloud.io/assets/images/logos/shipcloud_logo.png" width="166.4px" height="33.28px"></a></p>
<h1 class="phpdocumentor-title"><a href="{{ path('/') }}" class="phpdocumentor-title__link">{{ project.name }}</a></h1>
