/* This stylesheet is used to style the admin option form of the plugin. */

/**
 * 	General
 */
.shipcloud-panel {
  padding: 1.5em 1.5em 0 0;
}

.shipcloud-panel-content {
  background-color: #ECECEC;
  border: 1px solid #CFCFCF;
  padding: 1em;
}

.shipcloud-panel--alert {
  border: 1px solid red;
}

.shipcloud-panel--alert svg {
  color: red;
}

#shipcloud-io .inside {
    padding: 0;
}

#shipcloud-io p {
    color: #777;
}

#shipcloud-io select{
  font-size:13px;
}

#shipcloud-io .inside h3,
#shipcloud-io .inside h4,
#shipcloud-io .inside p,
#shipcloud-io .inside table{
    padding: 0;
    margin: 0 0 10px;
}

#shipcloud-io label {
    padding-left: 2px;
}

#shipcloud-io .twentyfive {
    width: 25%;
    float:left;
}

#shipcloud-io .fifty {
    width: 50%;
    float:left;
}

#shipcloud-io .seventyfive {
    width: 75%;
    float:left;
}

#shipcloud-io .fullsize {
    width: 100%;
}
#shipment-center .hide{
    display: none;
}
#shipment-center .show{
    display: block;
}

/**
 * 	Container
 */
#shipcloud-io .section {
    width: 96%;
    padding: 1% 2% 2%;
    border-bottom: 1px solid #dfdfdf;
}

/**
 * Address
 */
#shipcloud-io .address-form.sender {
    padding-right:2%;
    width:98%;
}
#shipcloud-io .address-form.recipient {
    padding-left:2%;
    width:98%;
}
#shipcloud-io .addresses label{
    font-size: 10px;
}
#shipcloud-io .addresses input,
#shipcloud-io .addresses select {
    width: 100%;
}

/**
 * Parcels
 */

 #shipcloud-io .cod-table th{
   font-weight: normal;
   padding-top: 8px;
   text-align: right;
   vertical-align: top;
   width: max-content;
 }

#shipcloud-io .parcels {
    background: #f8f8f8 none repeat scroll 0 0;
    padding-bottom: 0;
}
#shipcloud-io .parcels legend {
  font-weight: 700;
  padding: 0;
}
#shipcloud-io .parcel-form-table {
    width: 100%;
    text-align: left;
}

#shipcloud-io .parcel-form-table select{
    max-width:70%;
}

#shipcloud-io .btn-edit-address {
    opacity: 0.4;
    cursor: pointer;
}

#shipcloud-io .btn-edit-address:hover {
    opacity: 1;
}
#shipcloud-io .parcel-form-table th{
    font-weight: normal;
    vertical-align: top;
    padding-top: 8px;
    width: 30%;
}
#shipcloud-io .parcel-form-table td{
    vertical-align: top;
    width: max-content;
}
#shipcloud-io .parcel-form-table input[type=text],
#shipcloud-io .additional_services .shipcloud_additional_service__advance_notice table,
#shipcloud-io .additional_services .shipcloud_additional_service__advance_notice td:nth-of-type(2) {
    width:100%;
}

#shipcloud-io .parcel-form-table input[type=text].lengths{
    width:50px;
}
#shipcloud-io .parcel-form-table input[type=text].notification_email_input,
#shipcloud-io .shipment-labels .shipcloud_misc input[type=text].notification_email_input {
  width: 90%;
}

#shipcloud-io .parcel-form-table .shipcloud__pickup_time--earliest,
#shipcloud-io .parcel-form-table .shipcloud__pickup_time--latest {
  display: inline-block;
}
#shipcloud-io .parcel-form-table .shipcloud__pickup_time--earliest {
  margin-right: 15px;
}
#shipcloud-io .parcel-form-table .shipcloud__pickup_time--earliest label,
#shipcloud-io .parcel-form-table .shipcloud__pickup_time--latest label,
#shipcloud-io .additional_services .shipcloud__delivery_time--earliest label,
#shipcloud-io .additional_services .shipcloud__delivery_time--latest label {
  width: 100%;
}
#shipcloud-io .additional_services .shipcloud__delivery_time--earliest label,
#shipcloud-io .additional_services .shipcloud__delivery_time--latest label {
  display: block;
}
#shipcloud-io .parcel-form-table .shipcloud__pickup_time .pickup_date,
#shipcloud-io .label-shipment-pickup-request .shipcloud__pickup_time .pickup_date {
  width: 100px;
}
#shipcloud-io .parcel-form-table .shipcloud__pickup_time .pickup_time,
#shipcloud-io .label-shipment-pickup-request .shipcloud__pickup_time .pickup_time {
  width: 50px;
}
#shipcloud-io .parcel-template-field{
    margin-bottom:10px;
}
#shipcloud-io .parcel-template-field label{
    display: block;
}
#shipcloud-io .parcel-template-field select{
    font-size: 13px;
}

/**
 * 	Action Buttons
 */
#shipcloud-io #button-actions {
  margin: 15px 0 25px;
}
#shipcloud-io #button-actions .button {
  float: left;
  margin-right: .25em;
}
#shipcloud-io #button-actions .button-primary {
  float: none;
  margin-right: 0;
}
#shipcloud-io .button-loading{
    background-image: url('../../assets/images/loading.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 28px;
}

#shipcloud-io .button-loading-blue {
    background-image: url('../../assets/images/loading-blue.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 28px;
}

/**
 * 	Shipments
 */

.shipcloud-widget-icon{
    float: left;
    margin: -8px 15px 0 -5px;
}
#shipcloud-io .info{
    padding: 0 20px;
}

#shipcloud-io .info .error{
    border-left: 5px #FBC2C4 solid;
    background: #FBE3E4;
    color: #8a1f11;
    margin: 20px 0;
    padding: 12px 12px 6px 12px;
}
#shipcloud-io .info .error ul{
    padding: 0px;
    margin: 0px;
}
#shipcloud-io .info .notice{
    border-left: 5px solid #C6D880;
    background: #E6EFC2;
    color: #264409;
    margin: 20px 0;
    padding: 12px;
}
#shipcloud-io .notice.notice-info p {
  margin: .5em 0;
}

#shipcloud-io .shipment-labels .loading-overlay .spin-loader {
    height: 100px;
    background: url("../../assets/shipcloud-load.gif") no-repeat center center transparent;
    position: relative;
    top: 25%;
}

#shipcloud-io .shipment-labels .loading-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    opacity: 0.6;
}

#shipcloud-io .shipment-labels fieldset {
    border: 1px solid #aaa;
    padding: 0 1em 1em 1em;
    margin: 1em;
}

#shipcloud-io .shipment-labels label {
    display: block;
    margin-top: 0.5em;
}

#shipcloud-io .shipment-labels input {
    width: 100%;
}

#shipcloud-io .shipment-labels input[type="checkbox"] {
    width: 16px;
}

#shipcloud-io .shipment-labels .shipment_from_care_of_spacer {
  height: 45px;
}

#shipcloud-io .shipment-labels .widget-title{
    padding:15px;
}

#shipcloud-io .shipment-labels .widget-title h4{
    margin: 0;
    line-height: 16px;
}
#shipcloud-io .shipment-labels .widget-inside{
    padding:20px;
}

.shipment-labels .widget-quick-actions {
    float: right;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}

.shipment-labels .widget-quick-actions .btn-primary {
    color:#fff;
    background-color:#337ab7;
    border-color:#2e6da4;
}

.shipment-labels .shipcloud_delete_shipment,
.shipment-labels .shipcloud_delete_shipment:hover,
.shipment-labels .shipcloud_delete_shipment:focus
{
    color:#fff;
    background-color:#d9534f;
    border-color:#d43f3a;
}

.shipment-labels .widget-quick-actions .dashicons,
.shipment-labels .widget-quick-actions .dashicons-before:before {
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 24px;
}

#shipcloud-io .shipment-labels .label {
    margin: 10px 20px;
    padding: 0;
}

#shipcloud-io .shipment-labels .label:first-child {
    margin: 20px 20px 10px 20px;
}

#shipcloud-io .shipment-labels .label:last-child {
    margin: 10px 20px 20px 20px;
}

#shipcloud-io .shipment-labels .address,
#shipcloud-io .shipment-labels .label-shipment-additional-services,
#shipcloud-io .shipment-labels .label-shipment-customs-declaration .customs-declaration-basic-data,
#shipcloud-io .shipment-labels .label-shipment-customs-declaration .customs-declaration-item-data,
#shipcloud-io .shipment-labels .label-shipment-pickup-request,
#shipcloud-io .shipment-labels .label-shipment-status,
fieldset .shipment-labels .address {
    width: 29%;
    display: inline-block;
    margin: 20px 1%;
    vertical-align: top;
}

#shipcloud-io .shipment-labels .label-shipment-additional-services ul {
  list-style-type: circle;
}

#shipcloud-io .label-shipment-actions{
    text-align: right;
    width: 100%;
    display: inline-block;
}

#shipcloud-io .label-shipment-actions a,
#shipcloud-io .label-shipment-actions input,
#shipcloud-io .label-shipment-actions button
{
    min-width: 240px;
    text-align: center;
    margin: 0.5em 0;
}

#shipcloud-io .label-shipment-status table th {
    text-align: left;
}

#shipcloud-io .label-shipment-status table td{
    padding-left:20px;
}

#shipcloud-io .parcel-templates  label{
    margin-bottom: 5px;
    font-weight: bold;
}
#shipcloud-io .parcel-templates select{
    max-width:60%;
}

#shipcloud-io .additional_services .additional_services__infobox {
  margin-bottom: 1em;
}

#shipcloud-io .shipcloud_additional_service .shipcloud_additional_service__checkbox,
#shipcloud-io .shipcloud_additional_service .shipcloud_additional_service__text {
  float: left;
}

#shipcloud-io .shipcloud_additional_service .shipcloud_additional_service__checkbox {
  margin: 0 1em 0.75em 1em;
}

#shipcloud-io .shipcloud_additional_service .shipcloud_additional_service__text {
  margin-bottom: 0.75em;
  width: 80%;
}

#shipcloud-io .shipcloud_additional_service--hidden {
  display: none;
}

#shipcloud-io .shipcloud_drop_authorization textarea {
  width: 50%;
}

#shipcloud-io .additional-services-details {
  color: #999;
  font-size: 10px;
}

/**
 * Post type Page
 */
.post-type-sc_parcel_template #post-body-content{
    margin: 0;
}
.post-type-sc_parcel_template #minor-publishing-actions,
.post-type-sc_parcel_template #misc-publishing-actions{
    display: none;
}
#shipcloud-parcel-settings .form-table th{
    font-weight: normal;
}
#shipcloud-parcel-settings .form-table input[type="text"]{
    width:50px;
}

/**
 * Shipment Classes
 */
.shipcloud-parcel-form-field input[type="text"]{
    width:50px;
}
.form-field.shipment-settings label{
    float: left;
    line-height: 26px;
    margin-right: 10px;
    width: 15%;
}
.form-field.shipment-settings input[type="text"]{
    width:50px;
}

/**
 * Dialogs
 */
#ask-create-label,
#ask-delete-shipment,
#ask-force-delete-shipment {
    display: none;
}

/**
 * 	Dialog (becaus WooCommerce adds jQuery UI CSS from google)
 */
.wp-admin .wcsc-dialog {
    border-radius: 0;
}

.wp-admin .wcsc-dialog .ui-corner-all {
    border-radius: 0;
}

.wp-admin .wcsc-dialog .ui-widget-header {
    background: none;
    border: none;
    border-bottom: 1px solid #CCC;
}

.wp-admin .wcsc-dialog .ui-button {
    background: none;
}

.wp-admin .wcsc-dialog .ui-dialog-titlebar-close::before {
    content: '';
}

/**
 * Additional services
 */
#shipcloud-io .shipcloud_additional_service input[type="text"] {
  width: 100%;
}

#shipcloud-io .shipcloud_additional_service label {
  font-size: 10px;
}

#shipcloud-io .shipcloud_additional_service .shipcloud_cash_on_delivery {
  margin-top: 10px;
}

#shipcloud-io .shipcloud_additional_service .shipcloud_cash_on_delivery .shipcloud_cash_on_delivery--left {
  width: 98%;
  padding-right: 2%;
}

#shipcloud-io .shipcloud_additional_service .shipcloud_cash_on_delivery .shipcloud_cash_on_delivery--right {
  width: 98%;
  padding-left: 2%;
}
/**
 * Conflicts
 */

/* woocommerce-tm-extra-product-options */
#shipcloud-io .fullsize {
    position: inherit;
}

#wscs_order_bulk_pdf {
    margin-right: 0.5em;
}

/**
 * Bulk
 */
#wcsc-order-bulk-labels td {
  padding-top: 4px;
}
#wcsc-order-bulk-labels .shipcloud_additional_service__advance_notice td {
  padding: 4px 0 0 0;
}
#shipcloud-io .order-id-list .bulkid {
  display: inline-block;
}

#shipcloud-io .customs_declaration_button {
  padding: .5em;
}

#shipcloud-io .customs-declaration__infotext {
  padding: 1em 0 0 1em;
}

#shipcloud_bulk .parcel-form-table th {
  width: 25%;
}

.shipcloud-pickup-request-form-table .shipcloud-different-pickup-address {
  display: none;
}

.shipcloud-pickup-request-form-table .shipcloud-different-pickup-address .form-field {
  float: left;
  clear: left;
  width: 48%;
}

.shipcloud-pickup-request-form-table .shipcloud-different-pickup-address .form-field.pickup_address_last_name_field,
.shipcloud-pickup-request-form-table .shipcloud-different-pickup-address .form-field.pickup_address_number_field,
.shipcloud-pickup-request-form-table .shipcloud-different-pickup-address .form-field.pickup_address_city_field,
.shipcloud-pickup-request-form-table .shipcloud-different-pickup-address .form-field.pickup_address_state_field {
  float: right;
  clear: right;
}

.shipcloud-pickup-request-form-table .shipcloud-different-pickup-address .form-field.pickup_address_company_field,
.shipcloud-pickup-request-form-table .shipcloud-different-pickup-address .pickup_address_phone_field {
  width: 100%;
  clear: both
}
.shipcloud-pickup-request-form-table .shipcloud-different-pickup-address .form-field .select2-container {
  width: 100%!important;
}

/**
 * Customs declaration
 */
/* #shipcloud-io .customs-declaration--definition, */
#shipcloud-io .customs-declaration {
  display: none;
}
#shipcloud-io .customs-declaration--items_content {
  padding-left: 10px;
}

#shipcloud-io .customs-declaration--items fieldset {
  border: 1px solid;
  margin-bottom: 10px;
  padding: 10px;
}

#shipcloud-io .shipment-labels .label-shipment-customs-declaration .customs-declaration-data th {
  font-size: 10px;
  font-weight: normal;
  text-align: left;
}

#shipcloud-io .shipment-labels .label-shipment-customs-declaration .customs-declaration-data td {
  padding-left: 10px;
}
