/* This stylesheet is used to style the admin option form of the plugin. */

/**
 * 	General
 */
#shipcloud{
    padding:2%;
}
#shipcloud p {
    color: #777;
}

#shipcloud h3 {
    padding: 0;
    margin-bottom: 20px;
}

#shipcloud label {
    padding-left: 2px;
}

/**
 * 	Container
 */
#shipcloud .order_data_column_container {
    width: 100%;
    clear: both;
    margin-bottom: 30px;
}

#shipcloud .order_data_column {
    float: left;
    width: 50%;
}

#shipcloud .order_data_column:first-child {
    padding: 0% 1% 0 0%;
    width: 49%;
}

#shipcloud .order_data_column:last-child {
    padding: 0% 0% 0 1%;
    width: 49%;
}

#shipcloud .addresses .disabled label {
    display: none;
}

/**
 * Adress
 */
#shipcloud .addresses .disabled .twentyfive,
#shipcloud .addresses .disabled .secentyfive,
#shipcloud .addresses .disabled .fullsize {
    display: inline;
}

#shipcloud .addresses .order_data_column h4,
#shipcloud .addresses .order_data_column p {
    margin: 0 0 5px;
}

/**
 * Parcels
 */
#shipcloud .parcels {
}

#shipcloud .parcel-form-table {
    width: 100%;
    text-align: left;
}

#shipcloud .parcel-form-table th {
    width: 25%;
    font-weight: normal;
}

#shipcloud .parcel-form-table td {
    width: 75%;
}

#shipcloud .parcel-template-field{
    margin-bottom: 20px;
}
#shipcloud .parcel-template-field label{
    display:block;
    margin-bottom: 5px;
}

#shipcloud #button-actions {
    margin-top: 8%;
}

#shipcloud #create_label_form {
    padding-right: 0;
}



#shipcloud .parcel .order_data_column {
    padding: 0;
    width: 100%;
}

#shipcloud #ask_create_label,
#shipcloud #ask_order_pickup {
    display: none;
}

#shipcloud .edit_address {
}

#shipcloud .order_data_column p {
    float: left;
    margin: 0;
    width: 50%;
}

#shipcloud .order_data_column .twentyfive {
    width: 25%;
}

#shipcloud .order_data_column .seventyfive {
    width: 75%;
}

#shipcloud .order_data_column .fullsize {
    width: 100%;
}

#shipcloud .edit_address p input,
#shipcloud .edit_address p select {
    width: 100%;
}

#shipcloud .save_address {
    width: 100%;
}

#shipcloud .btn_edit_address {
    opacity: 0.4;
    cursor: pointer;
}

#shipcloud .btn_edit_address:hover {
    opacity: 1;
}

#shipcloud #parcel_templates #select_label {
    padding-bottom: 20px;
}

#shipcloud #parcel_templates #select_label label {
    text-align: center;
    display: block;
}

#shipcloud .errors {
    border-color: #dd3d36;
}

#shipcloud .shadow {
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);

    margin-bottom: 20px;
}

#shipcloud .container-bottom {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

/**
 * 	Action Buttons
 */
#shipcloud .button-loading,
#check_parcel_settings.button-loading {
    background-image: url('../../assets/images/loading.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 28px;
}

#shipcloud .button-loading-blue {
    background-image: url('../../assets/images/loading-blue.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 28px;
}

#shipcloud #create_label,
#shipcloud #pickup_parcel {
}

#shipcloud #create_label {
}

#shipcloud #pickup_parcel {
}

#shipcloud #create_label select {
    margin-top: -1px;
    width: 100%;
}

#shipcloud .widget-content .label_shipment_actions {
    text-align: left;
    padding-right: 0;
}

.button-wcsc-action {
    min-width: 200px;
}

/**
 * 	Shipments
 */
.wcsc-widget-icon {
    float: left;
    margin: 6px 0px 6px 6px;
}

#shipcloud .shipment_labels {
    width: 100%;
}

#shipcloud .shipment_labels .label {
    margin-top: 20px;
    padding: 0;
    width: 100%;
}

#shipcloud .shipment_labels .widget-inside {
    padding: 20px;
}

#shipcloud .label_shipment_sender {
    width: 46%;
    float: left;
    padding: 2%;
}

#shipcloud .label_shipment_recipient {
    width: 96%;
    padding: 2%;
}

#shipcloud .label_shipment_actions .button {
    width: 100%;
    text-align: center;
}

#shipcloud .label_shipment_parcel {
    color: #000;
    margin-right: 2px;
    padding-top: 20px;

}

/**
 * Parcel
 */
#wcsc-parcel-settings {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    height: auto;
    padding: 10px;
    background: #fff none repeat scroll 0 0;
}

#wcsc-parcel-settings .form-table {
    margin: 0;
}

#shipcloud .info {
    display: none;
}

#shipcloud #create_template .info {
    margin-bottom: 10px;
}

#shipcloud .notice {
    border: 1px solid #CCC;
    box-shadow: none;
    line-height: 28px;
    padding: 12px;
    margin: 0;
    text-align: center;
}

#shipcloud #parcel_templates .notice {
    padding: 0;

}

#shipcloud #parcel_table {
    border: none;
}

#shipcloud #parcel_table th {
    padding: 0;
    border: none;
}

#shipcloud #parcel_table th label {
    padding: 0;
    font-weight: 600;
    font-size: 12px;
}

#shipcloud #parcel_table td {
    padding: 8px 0;
}

#shipcloud .errors {
}

#shipcloud .parcel .info .errors li {
    margin: 3px 0;
}

#shipcloud .parcel input[type=button] {
    float: right;
    margin-left: 10px;
}

#shipcloud .parcel_option {
    width: 10%;
}

#shipcloud .parcel_option.carrier {
    width: 25%;
}

#shipcloud .parcel_option.parcel_button {
    width: 25%;
}

#shipcloud .parcel_option input,
#shipcloud .parcel_option select {
    width: 95%;
    margin-bottom: 10px;
}

#shipcloud #shipcloud_add_parcel_template {
    display: none;
}

#shipcloud .parcel_template p {
    line-height: 25px;
}

#shipcloud .parcel_template_arrow {
    font-size: 25px;
    font-weight: bold;
    color: #0074a2;
    line-height: 25px;
}

/**
 * 	Dialog (becaus WooCommerce adds jQuery UI CSS from google)
 */
.wp-admin .wcsc-dialog {
    border-radius: 0;
}

.wp-admin .wcsc-dialog .ui-corner-all {
    border-radius: 0;
}

.wp-admin .wcsc-dialog .ui-widget-header {
    background: none;
    border: none;
    border-bottom: 1px solid #CCC;
}

.wp-admin .wcsc-dialog .ui-button {
    background: none;
}

.wp-admin .wcsc-dialog .ui-dialog-titlebar-close::before {
    content: '';
}