/* This stylesheet is used to style the admin option form of the plugin. */

/**
 * 	Tabs
 */
#shipcloud .ui-state-hover{
	background:none;
	border:none;
}
#shipcloud .ui-state-hover, 
#shipcloud .ui-widget-content .ui-state-hover, 
#shipcloud .ui-widget-header .ui-state-hover,
#shipcloud .ui-state-focus, 
#shipcloud .ui-widget-content .ui-state-focus, 
#shipcloud .ui-widget-header .ui-state-focus,
#shipcloud .ui-state-active, 
#shipcloud .ui-widget-content .ui-state-active, 
#shipcloud .ui-widget-header .ui-state-active{
	background:none;
	border:none;
}
#shipcloud .wcsc-nav-tab-wrapper{
	padding:0;
	border-bottom: 1px solid #ccc;
}
#shipcloud .wcsc-nav-tab-wrapper li{
	float:left;
	margin-bottom:0px;
}
#shipcloud .wcsc-nav-tab-wrapper .ui-tabs-active .nav-tab{
	background-color:#FFF;
}
#shipcloud .wcsc-tab-label{
	padding:20px;
}
#shipcloud .wcsc-tab{
	min-height:300px;
}
/**
 * 	General
 */
#shipcloud p {
    color: #777;
}
#shipcloud h3 {
    padding:0;
    margin-bottom:20px;
}
#shipcloud label{
	display:block;
}

#shipcloud .order_data_column_container{
	width:100%;
	clear:both;
	margin-bottom: 20px;
}
#shipcloud .order_data_column{
    float: left;
}
#shipcloud .addresses .order_data_column{
    width: 40%;
    padding:4%;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#shipcloud .addresses .order_data_column h4,
#shipcloud .addresses .order_data_column p{
	margin:0;
}
#shipcloud .addresses .order_data_column.sender{
	margin-right:4%;
}
#shipcloud .addresses .order_data_column.recipient{
}
#shipcloud .parcel .order_data_column{
	padding: 0;
    width: 100%;
}

#shipcloud .edit_address{
	display:none;
}
#shipcloud .edit_address p{
	float:left;
	margin: 9px 0 0;
    padding: 0;
    width:46%;
    margin-right:2%;
}
#shipcloud .edit_address p.fullsize{
	width:94%;
	clear:both;
}
#shipcloud .edit_address p input,
#shipcloud .edit_address p select{
	width: 100%;
}
#shipcloud .btn_edit_address{
	opacity: 0.4;
	cursor:pointer;
}
#shipcloud .btn_edit_address:hover{
	opacity: 1;
}

#shipcloud .errors{
	border-color: #dd3d36;
}

#shipcloud .shadow{
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

/**
 * 	Action Buttons
 */
.order_data_column_container.actions .action:first-child{
	border-top:1px solid #ccc;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
}
.order_data_column_container.actions .action:last-child{
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
	
}
.order_data_column_container.actions .action{
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin: 0;
}
#shipcloud #create_label,
#shipcloud #pickup_parcel{
    padding: 0.5%;
    text-align: right;
    width: 99%;
}

#shipcloud #create_label{
}

#shipcloud #pickup_parcel{
}

#shipcloud #create_label select{
	margin-top: -1px;
}

.button-wcsc-action{
	min-width:200px;
}

/**
 * 	Shipments
 */
#shipcloud .shipment_labels{
	width:100%;
}
#shipcloud .shipment_labels .data{
	width:96%;
	padding:2%;
	background-color: #f8f8f8;
	border: 1px solid #dfdfdf;
	margin-bottom: 20px;
}
#shipcloud .shipment_labels .data img.current_shipment{
	float:left;
}
#shipcloud .shipment_labels .data p{
	margin-left: 58px;
}
#shipcloud .shipment_labels .data .shipment_label{
    display: block;
    float: left;
    width: 30%;
}
#shipcloud .shipment_labels .data .shipment_value{
    display: block;
    float: right;
    width: 70%;
}
/**
 * Parcel
 */
#shipcloud .parcel .info{
	display:none;
}
#shipcloud .parcel .parcel_price,
#shipcloud .parcel .parcel_template_added{
    border-left: 4px solid #7ad03a;
	 -webkit-box-shadow: 1px 0 1px 0 rgba( 0, 0, 0, 0.1 );
	box-shadow: 1px 0 1px 0 rgba( 0, 0, 0, 0.1 );
    line-height: 28px;
    padding: 12px;
    margin-bottom:20px;
}
#shipcloud .parcel .parcel_template_not_added{
    border-left: 4px solid #dd3d36;
	 -webkit-box-shadow: 1px 0 1px 0 rgba( 0, 0, 0, 0.1 );
	box-shadow: 1px 0 1px 0 rgba( 0, 0, 0, 0.1 );
    line-height: 28px;
    padding: 12px;
    margin-bottom:20px;
}
#shipcloud .parcel input[type=button]{
	float:right;
	margin-left:10px;
}
#shipcloud .parcel .info .errors{
	background: #fff;
	border-left: 4px solid #fff;
	-webkit-box-shadow: 1px 0 1px 0 rgba( 0, 0, 0, 0.1 );
	box-shadow: 1px 0 1px 0 rgba( 0, 0, 0, 0.1 );
	margin: 5px 0px 10px;
	padding: 1px 12px;
	border-color: #dd3d36;
}
#shipcloud .parcel .info .errors li{
	margin: 3px 0;
}
#shipcloud .parcel_option{
	width:10%;
}
#shipcloud .parcel_option.carrier{
	width:25%;
}
#shipcloud .parcel_option.parcel_button{
	width:25%;
}
#shipcloud .parcel_option input,
#shipcloud .parcel_option select{
	width:95%;
	margin-bottom: 10px;
}
#shipcloud #shipcloud_create_label,
#shipcloud #shipcloud_add_parcel_template{
	display:none;
}
#shipcloud .parcel_template p{
	line-height:25px;
}
#shipcloud .parcel_template_arrow{
	font-size:25px;
	font-weight:bold;
	color:#0074a2;
	line-height:25px;
}
