/* This stylesheet is used to style the admin option form of the plugin. */

/**
 * 	General
 */
#shipcloud-io .inside {
    padding: 0;
}

#shipcloud-io p {
    color: #777;
}

#shipcloud-io .inside h3,
#shipcloud-io .inside h4,
#shipcloud-io .inside p,
#shipcloud-io .inside table{
    padding: 0;
    margin: 0 0 10px;
}

#shipcloud-io label {
    padding-left: 2px;
}

#shipcloud-io .twentyfive {
    width: 25%;
    float:left;
}

#shipcloud-io .fifty {
    width: 50%;
    float:left;
}

#shipcloud-io .seventyfive {
    width: 75%;
    float:left;
}

#shipcloud-io .fullsize {
    width: 100%;
}

/**
 * 	Container
 */
#shipcloud-io .section {
    width: 96%;
    padding: 1% 2% 2%;
    border-bottom: 1px solid #dfdfdf;
}

/**
 * Address
 */
#shipcloud-io .address-form.sender {
    padding-right:2%;
    width:98%;
}
#shipcloud-io .address-form.recipient {
    padding-left:2%;
    width:98%;
}
#shipcloud-io .addresses label{
    font-size: 10px;
}
#shipcloud-io .addresses input,
#shipcloud-io .addresses select {
    width: 100%;
}

/**
 * Parcels
 */
#shipcloud-io .parcels {
    background: #f8f8f8 none repeat scroll 0 0;

}

#shipcloud-io .parcel-form-table {
    width: 100%;
    text-align: left;
}

#shipcloud-io .btn-edit-address {
    opacity: 0.4;
    cursor: pointer;
}

#shipcloud-io .btn-edit-address:hover {
    opacity: 1;
}
#shipcloud-io .parcel-form-table th{
    font-weight: normal;
}
#shipcloud-io .parcel-form-table input[type="text"]{
    width:50px;
}
#shipcloud-io .parcel-template-field{
    margin-bottom:10px;
}
#shipcloud-io .parcel-template-field label{
    display: block;
}
#shipcloud-io .parcel-template-field select{
    font-size: 13px;
}

/**
 * 	Action Buttons
 */
#shipcloud-io .button-loading{
    background-image: url('../../assets/images/loading.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 28px;
}

#shipcloud-io .button-loading-blue {
    background-image: url('../../assets/images/loading-blue.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 28px;
}

/**
 * 	Shipments
 */

.shipcloud-widget-icon{
    float: left;
    margin: -8px 15px 0 -5px;
}

#shipcloud-io .shipment-labels .widget-title{
    padding:15px;
}

#shipcloud-io .shipment-labels .widget-title h4{
    margin: 0;
    line-height: 16px;
}
#shipcloud-io .shipment-labels .widget-inside{
    padding:20px;
}

#shipcloud-io .shipment-labels .label {
    margin-top: 20px;
    padding: 0;
}

#shipcloud-io .shipment-labels .address{
    float:left;
    width: 33%;
    margin-bottom: 20px;
}

#shipcloud-io .parcel-templates  label{
    margin-bottom: 5px;
    font-weight: bold;
}
/**
 * Post type Page
 */
.post-type-sc_parcel_template #post-body-content{
    margin: 0;
}
.post-type-sc_parcel_template #minor-publishing-actions,
.post-type-sc_parcel_template #misc-publishing-actions{
    display: none;
}
#shipcloud-parcel-settings .form-table th{
    font-weight: normal;
}
#shipcloud-parcel-settings .form-table input[type="text"]{
    width:50px;
}

/**
 * Shipment Classes
 */
.shipcloud-parcel-form-field input[type="text"]{
    width:50px;
}
.form-field.shipment-settings label{
    float: left;
    line-height: 26px;
    margin-right: 10px;
    width: 15%;
}
.form-field.shipment-settings input[type="text"]{
    width:50px;
}

/**
 * Dialogs
 */
#ask-create-label{
    display: none;
}

/**
 * 	Dialog (becaus WooCommerce adds jQuery UI CSS from google)
 */
.wp-admin .wcsc-dialog {
    border-radius: 0;
}

.wp-admin .wcsc-dialog .ui-corner-all {
    border-radius: 0;
}

.wp-admin .wcsc-dialog .ui-widget-header {
    background: none;
    border: none;
    border-bottom: 1px solid #CCC;
}

.wp-admin .wcsc-dialog .ui-button {
    background: none;
}

.wp-admin .wcsc-dialog .ui-dialog-titlebar-close::before {
    content: '';
}